.singleorder-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleorder-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.back-to-orders-btn {
  width: fit-content;
  background-color: transparent !important;
  color: #51cccc !important;
  margin: 5px 0;
}
.single-order-no {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 12px;
}
.single-order-no span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.single-order-details-container {
  border: 2px solid rgba(201, 198, 198, 0.749);
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}
.single-order-img {
  width: 150px;
  min-height: 150px;
  border-radius: 5px;
  cursor:pointer;
}
.single-order-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.single-order-name {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
}
.single-order-placed-time{
    letter-spacing: 0.7px;
    opacity: 0.8;
}
.single-order-placed-time span{
    font-weight: 700;
}
.shipping-details-container, .payment-summary-container{
    border: 2px solid rgba(201, 198, 198, 0.749);
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.shipping-details-title ,.payment-summary-title{
    font-size: 18px;
    font-weight: 700;
    opacity: 0.7;
}
.shipping-details-user-name{
    display: flex;
    font-size: 14px;
    color: #000;
    line-height: normal;
    margin-bottom: 8px;
    justify-content: space-between;
    text-transform: capitalize;
}
.shipping-details-address-type{
    border-radius: 9px;
    color: #181818;
    font-size: 12px;
    padding: 0 10px;
    height: 20px;
    line-height: 18px;
    margin: 0;
    background-color: rgba(24, 24, 24, 0.15);
}
.shipping-details-address-container
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
    line-height: 18px;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.7px;
}
.payment-summary-price-wrapper{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.payment-summary-amount{
    font-weight: 600;
    color: #128a27;
}
.totalrow{
    padding-top: 5px;
    margin: 2px;
    border-top: 1px solid rgba(201, 198, 198, 0.749);
}
