/* Slider.css */
.slider-container {
  position: relative;
}

.slider-images {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add border-radius for rounded corners */
}

/* Style for central item with shadow */
.central-item .slider-images {
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}
